[submodule "dotbot"]
	path = external/dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty

[submodule "omp-themes"]
	path = config/omp-themes
	url = https://github.com/cassiofariasmachado/omp-themes

[submodule "posh-config"]
	path = config/posh
	url = https://github.com/cassiofariasmachado/posh-config

[submodule "zsh-config"]
	path = config/zsh
	url = https://github.com/cassiofariasmachado/zsh-config

[submodule "claude-config"]
	path = config/claude
	url = git@github.com:cassiofariasmachado/claude-config

[submodule "skills"]
	path = config/skills
	url = git@github.com:cassiofariasmachado/skills
